/*RENDERIZADO GLOBAL*/
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Victor+Mono:wght@700&display=swap');

/* REINICIO IMPROVISADO DE CSS */

* {
    margin: 0;
    padding: 0;
}


/* REDERIZACION GENERAL */

body {
    margin: 0 auto;
    padding: 22px 0;
    width: 940px;
    font-family: 'Victor Mono', monospace;
    background: #F0F0F0;
}

h1,
h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
    font-family: 'Oswald', sans-serif;
}

p {
    padding-bottom: 22px;
}

.logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    float: left;
}

.logo:hover {
    transform: scale(1.5);
}
header .titulo {
    color: #7e7468;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}
/*menu*/

nav {
    margin-top: 50px;
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
}

.navegacion {
    width: 100%;
    height: 40px;
    background-image: linear-gradient( to right, #0b3b65, rgb(79, 62, 62), #0b3b65);
    align-content: center;
    z-index: 3;
}

.navegacion ul {
    list-style: none;
}

.menu li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 10px 20px;
    color: #dfe0d9;
    font-size: 16px;
    text-decoration: none;
}

.menu li a:hover {
    color: #17b412;
    transition: all .3s;
}


/* Submenu*/

.submenu {
    position: absolute;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    background-image: linear-gradient( to right, #0b3b65, rgb(79, 62, 62), #0b3b65);
    align-content: center;
    border-radius: 5px;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: #f0f2eb;
    text-decoration: none;
    text-align: center;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.submenu li a:hover {
    color: #141514;
    transition: all .3s;
}

/*BANNER ESTATICO*/

.banner_estatico {
    display: flex;
    position: relative;
    margin-top: 100px;
    padding: 20px;
    background-size: 100%;
    border-radius: 22px;
    font-family: 'Victor Mono', monospace;
    background-image: url(../img/banner3.jpg);
    box-shadow: 3px 3px 7px #0f9b0f ;
}

.banner_estatico h2,
.banner_estatico p {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
}

.banner_estatico h2 {
    display: flex;
    padding:  100px 0 0 8px;
    font-weight: normal;
    color: #0f9b0f;
    font-size: 50px;
    text-align: center;
    font-family: 'Victor Mono', monospace;
    
}

.banner_estatico p {
    padding: 0 0 0 70px;
    color: #2a2929;
    font-size: 20px;
    text-align: justify;
    text-decoration: dotted;
}

.banner_estatico img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 22px;
}


/*contenido*/

.contenido{
    display: table;
}

/*articulo*/
/*rederizar el contenedor de estado a columnas*/
.entidad {
    display: table-cell;
    width: 620px;
    padding-top: 40px;
}
/*se fija el conteo y espaciado de columnas*/
.articulo{
 column-count: 2;/*conteo de columnas que se desean*/
 column-gap: 50px;/* el espaciado entre columnas*/
}

.articulo p{
    text-align: justify;
    font-size: 14px;  
    color: #343232;
    font-family: 'Victor Mono', monospace;
}

.articulo h2{
    text-align: center;
    font-size: 26px;
    font-family: 'Oswald', sans-serif; 
    padding: 10px 0 10px 0;   
}
.articulo li{
    text-align: justify;
    font-size: 14px;  
    color: #343232;
    font-family: 'Victor Mono', monospace;   
}

.articulo img{
    margin: 22px 0;
    box-shadow: 3px 3px 7px #777;
    border-radius: 5px;
}

/*comentarios*/

.comentarios {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}
/*redenderizar*/
.comentarios article {
    display: table;
    padding: 22px;
}
.comentarios h2{
    font-size: 26px;
    font-family: 'Oswald', sans-serif; 
    padding: 10px 0 10px 0;   
}

.comentarios article div {
    display: table-cell;
    width: 220px;
    padding-right: 22px;
}
.comentarios article:nth-child(odd) {
    padding: 21px;
    background: #d5d7d2;
    border: 1px solid #d7d7d7;
    border-radius: 11px;
}


.comentarios article  a {
    display: block;
    font-weight: bold;
    color: #000;
}

.comentarios article a:hover {
    text-decoration: none;
    color: #14f514;
}


/*SECCION FORMULARIO*/

form {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

form p {
    display: table;
    margin-bottom: 22px;
    padding: 0 22px;
}

form label {
    display: table-cell;
    width: 140px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

form input[type="text"],
form input[type="email"],
form input[type="url"] {
    display: table-cell;
    width: 300px;
    height: 20px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

form input[type="submit"] {
    display: table-cell;
    width: 80px;
    height: 30px;
    background-color: #373738;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Victor Mono', monospace;
}

form textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #d7d7d7;
    
}

form input[type="submit"] {
    margin-left: 162px;
}

/*Seccion lateral*/

aside{
    display: table-cell;
    width: 100%;
    height: 100%;
    padding-left: 40px;
}
aside section{
    display: flex;
    flex-direction: column;
}
aside h3{
    text-align: center;
    font-size: 26px;
    font-family: 'Oswald', sans-serif; 
    padding: 10px 0 10px 0;
}
aside img{
    padding: 10px 0 10px 0;
}
aside a{
    text-decoration: none;
    color: #7e7468;
    padding: 10px 0 10px 0;
}
aside a:hover{
    color: black;
}

/* Footer */

footer{
    position: absolute;
    background: lightgray;
    justify-content: space-around;
    display: flex;
}
.pie{
    width: 940px;
    padding: 22px;
}
.pie section{
    width: 300px;
    position: relative;
    display: table-cell;
    text-align: justify;
}
.pie section h3{
    color: brown;
}
.pie section a{
    text-decoration: none;
    color: #7e7468;
}
.pie section a:hover{
    color: white;
}
.pie section li{
    list-style: none;
}
.pie section i{
    font-size: 40px;
    color: brown;
}
.pie section i:hover{
    color: white;
}