{% extends "base.html" %}

{% block title %}EDITAR SERVICIO{% endblock title %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <div class="border p-4" style="background-color: #222831; color: white; border-radius: 15px;">
        <form method="POST" class="post-form" action="/update_servicio/{{ servicio.id }}">
            {% csrf_token %}
            <div class="container">
                <div class="col-12">
                    <h2 class="text-center mb-4">Actualizar datos del servicio</h2>
                </div>
                <div class="mb-3">
                    <label for="id">ID:</label>
                    {{ form.id }}
                </div>
                <div class="mb-3">
                    <label for="nombre">Nombre:</label>
                    {{ form.nombre }}
                </div>
                <div class="mb-3">
                    <label for="descripcion">Descripción:</label>
                    {{ form.descripcion }}
                </div>
                <div class="mb-3">
                    <label for="costo">Costo:</label>
                    {{ form.costo }}
                </div>
                <div class="mb-3">
                    <label for="id_tipo">ID Tipo:</label>
                    {{ form.id_tipo }}
                </div>
                <div class="mb-3 d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-block">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer style="margin-top: 40px;">
</footer>
{% endblock content %}
