*{
    margin: 0;
    padding: 0;
}
header,
footer,
section,
aside,
nav,
article{
    display: block;
}
body{
    background-color:rgb(255, 255, 255);
    margin: 0 auto;
    width: 940px;
    padding: 22px 0;
}

.logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    float: left;
}
.titulo{
    font-size: 50px;
    font-family: cursive;
    margin-top: 20px;
    padding-left: 60px;
    position: relative;
    text-align: center;
}

/* menu */
.navegador{
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin-top: 50px;
    background-color: rgb(34, 34, 34);
    position: absolute;
    left: 0;
    /* padding-bottom: 10px; */
}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;  
    display: block;
    color: rgb(199, 198, 198);
    text-decoration: none;
}
.menu li a:hover {
    color: rgb(255, 255, 255);
}

.menu li:hover .submenu {
    display: block;
}

/* submenu */
.submenu{
    position: absolute;
}

.menu li {
    margin: 0 30px;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    list-style: none;
    padding: 0;
}

/* banner_estatico */
.z{
    padding: 10px 0% 0% 10%;
    max-width: 90%; 
}

.banner_estatico{
    margin-top: 110px;
    padding: 30px;
    border-radius: 16px;
    width: 100%;
    background: url(https://img.freepik.com/foto-gratis/fondo-acuarela_24972-951.jpg?w=1380&t=st=1692213474~exp=1692214074~hmac=d5ba881473737fb805f8a489147817d80db2143bde088dd52e3b9c89fa9dd9c4);
    display: flex;
    box-shadow: 3px 3px 7px #043416 ;
}
.banner_estatico h2,
.banner_estatico p{
    float: left;
    margin-left: 20px;
    padding: 2%;
}
.banner_estatico h2{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    text-align: justify;
    color: #5b9d0f;
}
.banner_estatico p{
    color: rgb(255, 255, 255);
}


/* contenido */
.contenido{
    width: 50%;
    display: table;
    padding: 20px 0px 50px 10%;
}

.entidad{
    width: 100%;
    display: table-cell;
    padding: 5px;
}

.pub, .pub a{
    color: #999;
    font-style: italic;
}

/* artuculo */
.articulo{
    columns: 2;
    background-color: rgb(251, 241, 227);
    border-radius: 6px;
    padding: 4%;
}

img{
    padding: 10px;
}

h3{
    font-size: 30px;
    text-align: center;
}


/* seccion comentarios */
.comentarios{
    margin-top: 21px;
    padding-top: 22px;
    text-align: left;
    padding: 20px;
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

a{
    padding: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.comentario{
    background-color: #d8d8d8;
    border: 1px solid #1e1e1e;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0px 12PX 12PX 12PX;
}

article{
    display: table;
    padding: 22px;
}

.comentarios article div{
    width: 220px;
}

/* formulario */
form {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #dedddd;
    border-radius: 10px;
}

form h2 {
    text-align: center;
    font-size: 30px;
    padding: 0px 0px 10px 0px;
}

.entrada{
    margin-bottom: 20px;
}

.form-control,
.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnn {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #2f8a18;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #2f8a18;
}

/* SECCION LATERAL */

aside{
    display: table-cell;
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: rgb(255, 255, 255);
    justify-content:flex-end;
    padding: 20px;
}

aside section{
    padding: 0px 0px 50px 0px;
}

aside h3 {
    margin-bottom: 10px;
}

aside a {
    color: #000000;
}

aside a:hover {
    color: hsl(95, 39%, 35%);
}

/* FOOTER */
footer{
    left: 0;
    position: absolute;
    background-color: rgb(34, 34, 34);
    color: #f0f0f0;
    justify-content: space-around;
    height: 300px;
}

.abajo{
    width: 100%;
}

.abajo section {
    position: relative;
    display: table-cell;
    text-align: center;
    padding: 75px;
    
}

.abajo section h3{
    margin-bottom: 10px;
    font-size: 35px;
}

.abajo section p{
    font-size: 20px;
}

.abajo section a{
    text-decoration: none;
    color: rgba(237, 236, 236, 0.747)
}

.abajo section a:hover{
    color: rgb(255, 255, 255);
}

.abajo section li{
    margin-bottom: 5px;
}

@media screen and (max-width: 967px) {
    .banner_estatico{
        margin-top: 10px;
    }

    .navegador{
        padding: 0% 0% 0% 6%;
    }

    footer{
        position: relative;
        padding: 0% 0% 28% 6%;
        margin-top: 5%;
    }

    .z{
        padding: 0px 0% 0% 2%;
    }

    .contenido{
        padding: 20px 0px 0px 0%;
    }

    .navegador{
        position: relative;
    }
    .menu li a {
        font-size: 16px; /* Reduce el tamaño de fuente para pantallas más pequeñas */
    }

    form {
        max-width: 100%;
    }
}