{% extends "base.html" %}

{% block title %}TIPO HABITACION{% endblock title %}

{% block content %}
<head>
    <link rel="stylesheet" href="../../static/tablas.css">
</head>

<section class="panel-usuarios">
    <div class="container-superior">
        <div class="container-botones">
            <span><a href="/addnew_tipohabitacion" class="btn btn-1">Agregar Tipo</a></span>
        </div>
        <h3>GESTIONAR TIPOS DE HABITACIÓN</h3>
    </div>
    <table class="tabla-desktop">
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
        {% for tipohabitacion in tipohabitacion %}
        <tr>
            <td>{{ tipohabitacion.id }}</td>
            <td>{{ tipohabitacion.tipo }}</td>
            <td><a href="/edit_tipohabitacion/{{ tipohabitacion.id }}" class="btn">Editar</a></td>
            <td><a href="/delete_tipohabitacion/{{ tipohabitacion.id }}" class="btn btn-red">Borrar</a></td>
        </tr>
        {% endfor %}
    </table>

    <div class="tabla-mobile">
        <div class="fila">
            {% for tipohabitacion in tipohabitacion %}
            <div class="columna">
                <div class="header">Id</div>
                <div class="contenido">{{ tipohabitacion.id }}</div>
            </div>
            <div class="columna">
                <div class="header">Tipo</div>
                <div class="contenido">{{ tipohabitacion.tipo }}</div>
            </div>
            <div class="columna">
                <div class="header">Editar</div>
                <div class="contenido"><a href="/edit_tipohabitacion/{{ tipohabitacion.id }}" class="btn">Editar</a></div>
            </div>
            <div class="columna">
                <div class="header">Borrar</div>
                <div class="contenido"><a href="/delete_tipohabitacion/{{ tipohabitacion.id }}" class="btn btn-red">Borrar</a></div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
