{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIS RESERVAS</title>
    <link rel="stylesheet" href="{% static 'reservas-perfil.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header class="header-s">
        <a href="/profile" class="enlace-1"><i class="ri-arrow-left-line"></i> Volver</a>
        <a href="/signout"><button class="btn"><i class="ri-logout-box-line"></i> Cerrar sesión</button></a>
    </header>
    
    <div class="container">
        <h1 class="mt-5 mb-4">RESERVAS HECHAS</h1>

        <div>
            <h2>{{ usuario.Nombre }}</h2>
            <br>
            <p><span>Correo electrónico:</span> {{ usuario.email }}</p>
            <p><span>Teléfono:</span> {{ usuario.telefono }}</p>
            <p><span>Número de reservas:</span> {{ usuario.num_reservas }}</p>
        </div>

        <div>
            <h2 class="mt-4">Reservas del usuario:</h2>
            <br>
            <ul class="list-group">
                {% for reserva in reservas_usuario %}
                    <li class="list-group-item">{{ reserva.id }} - {{ reserva.fecha_ingreso }} - {{ reserva.estado }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer>
        <div class="logo">
            <a href="#home"><img src="../../static/img/logo.png" alt="logo" /></a>
        </div>
        <div class="footer__bar">
            <p>Copyright © 2024 SENA. All rights reserved.</p>
        </div>
        <a href="/"><button class="btn">Inicio</button></a>
    </footer>
    
</body>

</html>
