{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>REGISTRARSE</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<header class="header-s">
    <a href="/signin" class="enlace-1"><i class="ri-arrow-left-line"></i> Volver</a>
    <a href="/"><button class="btn nav__btn boton-registro">Inicio</button></a>
</header>

<body>
    
<section class="section__container register__container contenedor">
    <form class="register__form formulario" method="POST" action="/signup">
        {% csrf_token %}
        <div class="container-titulo">
            <div class="input__group">
                <h1 class="titulo" style="margin-bottom: 20px;">DIGITE SUS DATOS</h1>
            </div> 
        </div>
        <div class="container-superior">
            <div class="seccion-1">
                <div class="grupo">
                    <span><i class="ri-pass-valid-fill"></i></span>
                    <div>
                        <p>Documento:</p>
                        <input placeholder="Digite su documento" type="number" class="" name="documento" id="id_documento" required maxlength="20" value="{{ usuario.documento }}"/>
                    </div>   
                </div>
                <div class="grupo">
                    <span><i class="ri-user-fill"></i></span>
                    <div>
                        <p>Nombre:</p>
                        <input placeholder="Digite su nombre" type="text" class="" name="Nombre" id="id_Nombre" required maxlength="100" value="{{ usuario.Nombre }}" />
                    </div>
                </div>
                <div class="grupo">
                    <span><i class="ri-user-fill"></i></span>
                    <div>
                        <p>Apellido:</p>
                        <input placeholder="Digite su apellido" type="text" class="" name="Apellido" id="id_Apellido" required maxlength="100" value="{{ usuario.Apellido }}" />
                    </div>
                </div>
                <div class="grupo">
                    <span><i class="ri-mail-fill"></i></span>
                    <div>
                        <p>Email:</p>
                        <input placeholder="Digite su Email" type="text" class="" name="email" id="id_email" maxlength="100" value="{{ usuario.email }}" />
                    </div>
                </div>
            </div>
            
            <div class="seccion-2">
                <div class="grupo">
                    <span><i class="ri-smartphone-fill"></i></span>
                    <div>
                        <p>Teléfono:</p>
                        <input placeholder="Digite su Teléfono" type="number" class="" name="telefono" id="id_telefono" maxlength="15" value="{{ usuario.telefono }}" />
                    </div>
                </div>
                <div class="grupo">
                    <span><i class="ri-key-fill"></i></span>
                    <div>
                        <p>Contraseña:</p>
                        <input placeholder="Digite su contraseña" type="password" class="" name="password" id="id_password" required maxlength="200" value="{{ usuario.password}}" />
                        <div id="message"></div>
                    </div>
                </div>
                <div class="grupo">
                    <span><i class="ri-group-fill"></i></span>
                    <div>
                        <p>Género:</p>
                        <select class="form-select seleccion" name="genero" id="id_genero">
                           
                            <option value="" disabled selected>Selecciona una opción</option>
                            
                            <option value="masculino" {% if usuario.genero == 'masculino' %}selected{% endif %}>Masculino</option>
                            <option value="femenino" {% if usuario.genero == 'femenino' %}selected{% endif %}>Femenino</option>
                            <option value="otro" {% if usuario.genero == 'otro' %}selected{% endif %}>Otro</option>
                        </select>
                    </div>
                </div>
        
                <div class="grupo">
                    <span><i class="ri-camera-fill"></i></span>
                    <div>
                        <p>Foto:</p>
                        <label for="id_foto" class="input-file-label">
                            <span>Elegir archivo</span>
                            <input type="file" id="foto" name="foto" class="input-file" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-inferior">
            <div class="input__group input__btn boton">
                <button class="btn btn-primary btn-success boton" type="submit" style="margin-top: 20px;">Registrarse</button>
            </div>
        </div>
    </form>
    
</section>

<footer class="footer" id="contact">
    <div class="section__container footer__container">
        <div class="footer__col">
        <div class="logo">
            <a href="#home"><img src="../static/img/logo.png" alt="logo" /></a>
        </div>
        <p class="section__description">
            Algo aquí
        </p>
        <a href="/"><button class="btn">Inicio</button></a>
        </div>
        <div class="footer__col">
        <h4>LINKS DE INTERÉS</h4>
        <ul class="footer__links">
            <li><a href="#">Github</a></li>
            <li><a href="#">Blog cide</a></li>
            <li><a href="#">Sena</a></li>
            <li><a href="#">Otros</a></li>
        </ul>
        </div>
        <div class="footer__col">
        <h4>SERVICIOS</h4>
        <ul class="footer__links">
            <li><a href="#">Restaurante</a></li>
            <li><a href="#">Masajes</a></li>
            <li><a href="#">Bar</a></li>
            <li><a href="#">Otros</a></li>
        </ul>
        </div>
        <div class="footer__col">
        <h4>CONTACTO</h4>
        <ul class="footer__links">
            <li><a href="#">correo@correo.com</a></li>
        </ul>
        <div class="footer__socials">
            <a href="#"><img src="../static/img/facebook.png" alt="facebook" /></a>
            <a href="#"><img src="../static/img/instagram.png" alt="instagram" /></a>
            <a href="#"><img src="../static/img/youtube.png" alt="youtube" /></a>
            <a href="#"><img src="../static/img/twitter.png" alt="twitter" /></a>
        </div>
        </div>
    </div>
    <div class="footer__bar">
        Copyright © 2024 SENA. All rights reserved.
    </div>
</footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/contra.js"></script>
</body>
</html>