{% extends 'layouts/base.html' %}
<!-- haciendo herencia, este modo siempre debe estar de primeras-->


<!-- imprimiendo variables -->
{% block content %}
<h1>{{title}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas doloremque provident nisi sapiente laboriosam harum quaerat, nesciunt magnam esse velit quasi, repudiandae nihil accusantium laborum? Itaque iste quaerat quas assumenda nesciunt, qui temporibus voluptatibus ut rerum pariatur molestiae aliquam quidem nostrum ducimus repudiandae blanditiis, sed quibusdam, aspernatur sunt quae. Doloribus.</p>
{% endblock %}




