* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 99%;
    height: 1200px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(253, 233, 203);
}
header {
    width: 99%;
    height: 180px;
    margin: auto;
    background-color: rgb(255, 210, 112);
    color: rgb(1, 1, 1);
    font-size: 30px;
}
body header.cab_der {
    width: 50%;
    height: 200px;
    padding: 10px;
    float: right;
    background-color: rgb(0, 255, 255);
}
body header.cab_izq {
    width: 50%;
    height: 200px;
    padding: 10px;
    float: left;
    background-color: rgb(0, 255, 255);
}
